<html>

<head>
    <title>Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/lib/Framework7/dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="/static/lib/Framework7/dist/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="/static/css/demo_index.css">
</head>

<body>


    <div class="views">
        <div class="view view-main navbar-through" data-page="home">


            <div class="pages">

                <div data-page="home" class="page page-on-center">

                    <div class="panel-overlay"></div>
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="center">Demo</div>
                        </div>
                    </div>

                    <div class="panel panel-right panel-cover">
                        <div class="content-block">
                            <p>Right Panel content here</p>
                            <p><a href="#" class="close-panel">Close me</a></p>
                            <p><a href="#" data-panel="left" class="open-panel">Open Left Panel</a></p>
                        </div>
                    </div>
                    <div class="page-content  infinite-scroll">
                        <div class="content-block">
                            <div id="content-list"></div>
                            <div class="infinite-scroll-preloader">
                                <div class="preloader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>

<script id="list-template" type="text/template7">
    {{#each articles}}
    <div class="card demo-card-header-pic">
        {{#if img}}
        <div style="background-image:url({{img}})" valign="bottom" class="card-header color-white no-border lazy"> </div>
        {{/if}}
        <div class="card-content">
            <div class="card-content-inner">
                <p class="color-gray">{{title}}</p>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" class="link disable">{{pubtime}}</a>
            <a href="/demo/page/id/{{id}}" class="link"> 更多</a>
        </div>
    </div>
    {{/each}}
</script>


<script type="text/javascript" src="/static/lib/Framework7/dist/js/framework7.min.js"></script>
<script type="text/javascript" src="/static/js/demo.js"></script>

</html>