<html>

<head>
    <title>Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/lib/Framework7/dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="/static/lib/Framework7/dist/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="/static/css/demo_index.css">
</head>

<body>


    <div data-page="home" class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <div style="center: 0px;" class="center sliding">Demo</div>
            </div>
        </div>
        <div class="pages navbar-through">
            <div data-page="home" class="page">
                <div class="page-content infinite-scroll">
                    <div class="list-block">
                        <ul>

                        </ul>
                    </div>
                    <!-- 加载提示符 -->
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

<script id="list-template">
    {{#each articles}}
    <li class = "card demo-card-header-pic" >   
     {{#if img}}
    <div style = "background-image:url({{img}})" valign = "bottom" class = "card-header color-white no-border" > </div> 
    {{/if}}
        <div class = "card-content"> 
        <div class = "card-content-inner">
         <p class = "color-gray" >{{title}}</p> 
         </div> 
         </div> 
         <div class = "card-footer">
    <a href = "/demo/page/id/{{id}}" class = "link" > Read more </a> 
    </div> 
    </li>
    {{/each}}    
</script>


<!-- Path to Framework7 Library JS-->
<script type="text/javascript" src="/static/lib/Framework7/dist/js/framework7.min.js"></script>
<!-- Path to your app js-->
<script type="text/javascript" src="/static/js/demo.js"></script>

</html>