<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>信软官网API</title>
    <link rel="stylesheet" href="/static/lib/loaders.css/loaders.min.css">
    <link rel="stylesheet" href="/static/lib/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="/static/lib/reveal.js/css/theme/black.css">
    <link rel="stylesheet" href="/static/lib/reveal.js/lib/css/zenburn.css">
    <style>
        .overlay {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.5);
            /*暗淡的背景*/
        }
    </style>
</head>

<body>
    <div class="overlay" id="loader">
        <div style="height:20px;margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; ">
            <div class="loader-inner ball-pulse" style="width:100px;margin:0 auto">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

    </div>
    <div class="reveal">
        <div class="slides">
            <section>
                信软官网API
            </section>
            <section>
                <section>获取一页信息</section>
                <section class="present" data-markdown="/static/md/articles_gets.md" style="display:block">
                </section>
            </section>
            <section>
                <section>获取单条信息</section>
                <section class="present" data-markdown="/static/md/articles_get.md" style="display:block">
                </section>
            </section>
            <section>
                <section>获取所有的文章种类</section>
                <section class="present" data-markdown="/static/md/types_gets.md" style="display:block">
                </section>
                <section>
                    <div id="chart-1" style="width: 60rem;height:40rem;margin:auto" />
                </section>
            </section>
            <section>
                <section>获取文章发布者</section>
                <section class="present" data-markdown="/static/md/publisher_gets.md" style="display:block"></section>
                <section>
                    <div id="figure-2" style="width: 65rem;height:43rem;margin:auto" />
                </section>
            </section>
        </div>
    </div>

</body>
<script src="/static/lib/reveal.js/lib/js/head.min.js"></script>
<script src="/static/lib/reveal.js/js/reveal.js"></script>
<script src="/static/lib/jquery/dist/jquery.min.js"></script>
<script src="/static/lib/echarts/dist/echarts.min.js"></script>
<script src="/static/js/index_index.js"></script>

</html>