        .infinite-scroll-preloader {
            margin-top: -20px;
            margin-bottom: 10px;
            text-align: center;
        }
        
        .infinite-scroll-preloader .preloader {
            width: 34px;
            height: 34px;
        }
        
        .facebook-card .card-header {
            display: block;
            padding: 10px;
        }
        
        .facebook-card .facebook-avatar {
            float: left;
        }
        
        .facebook-card .facebook-name {
            margin-left: 44px;
            font-size: 14px;
            font-weight: 500;
        }
        
        .facebook-card .card-footer {
            background: #fafafa;
        }
        
        .facebook-card .card-footer a {
            /*color: #81848b;*/
            font-weight: 500;
        }
        
        .facebook-card .card-content img {
            display: block;
        }
        
        .content-block {
            margin: 20px 0;
            padding: 0 5px;
            color: #6d6d72;
            box-sizing: border-box;
        }
        
        .demo-card-header-pic .card-header {
            height: 40vw;
            background-size: cover;
            background-position: center;
        }
        
        img {
            width: 100% !important;
            height: auto!important;
            max-width: 100%!important;
            display: block!important;
        }